.mia-footer {
	
	min-width: 100%;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	
}

.mia-footer-elem {
	margin-bottom: 1vh;
}