.UrlContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 70vh;
 
}

.Form{
  font-size: 2vh;
  height: 2vh;
}
.inpute{
  margin: 2vw;
  padding: 1vh;
  line-height: 1vh;
  height: 100%;
}